form {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-right: 5%;
  margin-left: 10%;
}

.inputs {
  margin-left: 17%;
  padding: 2%;
  background-color: rgba(0, 0, 0, .5);
}

label {
  color: rgb(80, 167, 80);

}

button {
  width: 100%;
}